<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app>

<web-app>
	<display-name>Eterped</display-name>
	<description>
		Eterped
	</description>  
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
	<!-- Servlet List -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.user_management.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>controller.user_management.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.user_management.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>controller.user_management.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserList</servlet-name>
		<servlet-class>controller.user_management.UserList</servlet-class>
	</servlet>
	
	<!-- Mapping servlet -->
    <servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/UserList</url-pattern>
	</servlet-mapping>
</web-app>